<app-navbar-estudiante></app-navbar-estudiante>
<br>
<div class="card border-primary mb-3 mx-auto" style="max-width: 30rem;">

  <div class="card-body mx-auto text-center">
    <h4 class="card-title">Proyectos</h4>
    <br>

    <button class="btn btn-dark" (click)="hideC()">Crear</button>
    <button class="btn btn-dark" (click)="hideB()">Borrar</button>

    <form action="" [formGroup]="createProyecto" (ngSubmit)="agregarProyecto()" id="crear">

      <div class="col">
        <label class="col-form-label mt-4" for="nombre">Nombre del proyecto</label>
        <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre">
        
        <label class="col-form-label mt-4" for="descripcion">Descripción del proyecto</label>
        <editor [init]="{
                    height: 400,
                    menubar: false,
                    plugins: [
                      'advlist autolink lists link image charmap print preview anchor',
                      'searchreplace visualblocks code fullscreen',
                      'insertdatetime media table paste code help wordcount'
                    ],
                    external_plugins: {
                      'esquema-descripcion': 'https://juancamilorv16.github.io/plugin1-esquemadescripcion/esquema-descripcion/plugin.min.js',
                      'calendario': 'https://juancamilorv16.github.io/plugin2-calendario/calendario/plugin.min.js'
                    },
                    toolbar:
                      'undo redo | formatselect | bold italic backcolor | \
                      alignleft aligncenter alignright alignjustify | \
                      bullist numlist outdent indent | removeformat | help | esquema-descripcion | calendario'
                    }"></editor>

        <!-- <input class="form-control" type="text" formControlName="descripcion" placeholder="Nombre"> -->
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </form>

    <form id="borrar" style="display: none;">
      <br>
        <select class="form-select" (change)="getvalue($event)">>
          <option></option>
          <option *ngFor="let item of listaProyectos | async" [value]="item.id">{{item.nombre}}</option>
        </select>
      <br>
      <button type="submit" class="btn btn-primary" (click)="deleteProyecto()">Borrar</button>
    </form>
  </div>
</div>
