<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand btn btn-primary">Research Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/home">Home</a>
                        <span class="visually-hidden">(current)</span>
                    </li>
                </ul>
            </div>
            <div class="btn float-right">
                <button type="button" class="btn btn-danger" routerLink="/login">Cerrar sesión</button>
            </div>
        </div>
    </nav>



    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary" type="button" routerLink="/crear-grupo">Profesores</button>
        <button class="btn btn-lg btn-primary" type="button" routerLink="/crear-proyecto">Estudiantes</button>
    </div>


    <br>
</body>

</html>