<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Crear grupo</title>
</head>

<body>
  <app-navbar-profesor></app-navbar-profesor>

  <br>

  <div class="card border-primary mb-3 mx-auto text-center" style="max-width: 30rem;">
    <div class="card-body mx-auto">
      <h4 class="card-title">Grupos de investigación</h4>

      <button class="btn btn-dark" (click)="hideC()">Crear</button>
      <button class="btn btn-dark" (click)="hideL()">Leer</button>
      <button class="btn btn-dark" (click)="hideA()">Actualizar</button>
      <button class="btn btn-dark" (click)="hideB()">Borrar</button>

      <form action="" [formGroup]="createGrupo" (ngSubmit)="agregarGrupos()" id="crear">
        <label class="col-form-label mt-4" for="nombre">Nombre del grupo</label>
        <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre">
        <label class="col-form-label mt-4" for="area">Área</label>
        <input class="form-control" type="text" formControlName="area" placeholder="Area">
        <label class="col-form-label mt-4" for="miembros">Número de miembros</label>
        <input class="form-control" type="text" formControlName="miembros" placeholder="Miembros">
        <br>
        <button type="submit" class="btn btn-primary">Crear</button>
      </form>

      <form action="" [formGroup]="createGrupo" (ngSubmit)="actualizarGrupo()" id="actualizar" style="display: none;">
        <br>
        <select class="form-select" (change)="getvalue($event)">
          <option></option>
          <option  *ngFor="let item of listaGrupos | async" [value]="item.id">{{item.nombre}}</option>
        </select>
        <label class="col-form-label mt-4" for="nombre">Nombre del grupo</label>
        <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre">
        <label class="col-form-label mt-4" for="area">Área</label>
        <input class="form-control" type="text" formControlName="area" placeholder="Area">
        <label class="col-form-label mt-4" for="miembros">Número de miembros</label>
        <input class="form-control" type="text" formControlName="miembros" placeholder="Miembros">
        <br>
        <button type="submit" class="btn btn-primary">Actualizar</button>
      </form>

      <div id="leer" style="display: none;">
        <br>
        <table class="table table-hover">
          <tr scope="col" *ngFor="let item of listaGrupos | async">
            <th>{{item.nombre}}</th>
            <td>{{item.area}}</td>
            <td>{{item.miembros}}</td>
          </tr>
        </table>
      </div>

      <form id="borrar" style="display: none;">
        <br>
        <select class="form-select" (change)="getvalue($event)">
          <option></option>
          <option  *ngFor="let item of listaGrupos | async" [value]="item.id">{{item.nombre}}</option>
        </select>
        <br>
        <button type="submit" class="btn btn-primary" (click)="deleteGrupo()">Borrar</button>
      </form>
    </div>
  </div>
</body>

</html>