<br>
<div class="card border-primary mb-3 mx-auto" style="max-width: 30rem;">
  <div class="form-container mx-auto">
    <br>
    <a routerLink="/login" id="goback">Pagina principal</a>
    <br>
    <br>
    <h2>Crear una cuenta</h2>
    <br>
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
      <input type="text" placeholder="Correo" (ngModel)="formData.value.email" name="email" class="input-txt"
        required>
      <br>
      <br>
      <input type="password" placeholder="Contraseña" (ngModel)="formData.value.password" name="password"
        class="input-txt" required>
      <br>
      <br>
      <button type="submit" [disabled]="!formData.valid" class="auth-btn btn btn-primary">Crear cuenta</button>
    </form>
    <br>
  </div>
</div>