<br>
<div class="card border-primary mb-3 mx-auto" style="max-width: 30rem;">

  <div class="form-container mx-auto">
    <br>
    <h2>Login</h2>
    <form #formData='ngForm' (ngSubmit)='onSubmit(formData)'>
      <br>
      <input type="text" placeholder="Email address" (ngModel)="formData.value.email" name="email" class="input-txt" required>
      <br>
      <br>
      <input type="password" placeholder="Password" (ngModel)="formData.value.password" name="password" class="input-txt" required>
      <br>
      <br>
      <button type="submit" [disabled]="!formData.valid" class="auth-btn btn btn-primary">Log in</button>
      
    </form>
    <br>
    <a routerLink="/signup" routerLinkActive="active" class="create-account-txt">No account? <strong>Create one here</strong></a>
    <br>
    <br>
  </div>
</div>
