<app-navbar-estudiante></app-navbar-estudiante>

<br>

<div class="card border-primary mb-3 mx-auto" style="max-width: 30rem;">

  <div class="card-body mx-auto">
    <h4 class="card-title">Consultar</h4>
    <form action="" [formGroup]="createGrupo" (ngSubmit)="agregarGrupos()">
      <input type="text" ng-model="selectedCountryId">
      <select class="form-select" id="selectSudent" ng-model="selectedCountryId">
        <option *ngFor="let item of listaProyectos | async" value="{{item.id}}">{{item.nombre}}</option>
      </select>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary"> Consultar</button>
      </div>
    </form>
  </div>
</div>